<h2><a href="/admin/">Admin Panel</a> &bull; Aliases</h2> <a href="/admin/aliases/add">Add</a>
<hr />
<ul class="ul-no-bullets">
  {{#each docs}}
  <li class="li-minus-2em">
    <form class="inline" action="/admin/aliases/edit" method="get">
      <input type="hidden" name="id" value="{{_id}}" />
      <input class="btn-empty" type="submit" title="Edit" value="&#9998;">
    </form>
    <!-- <a href="/admin/pages/edit?id={{_id}}" title="Edit this page">&#9998;</a>-->
    <form class="inline" action="/admin/object/remove" method="post">
      <input type="hidden" name="id" value="{{_id}}" />
      <input type="hidden" name="type" value="aliases" />
      <input class="btn-empty" type="submit" title="Delete" value="&#9587;">
    </form>
  <!--<a href="/admin/aliases/edit?id={{_id}}" title="Edit this page">&#9998;</a>--> ~ <a href="{{path}}">{{path}}</a> {{type}} <a href="{{pointer}}">{{pointer}}</a>
  </li>
  {{/each}}
</ul>
