<a href="/admin/pages">&larr; Back</a> {{#if updated}}<i>Page updated.</i>{{/if}}
<hr />
<form action="/admin/pages/edit" method="post">
<input type="hidden" name="id" value="{{doc._id}}" />
<label for="title">Title</label>
<input type="text" value="{{doc.title}}" name="title">
<label for="collection">Collection</label>
<input type="text" value="{{doc.collection}}" name="collection">
<br />
<textarea name="content" class="editable">{{{doc.content}}}</textarea>
<br />
{{#if rawedit}}
<input type="hidden" name="raw" value="true" />
{{/if}}
<input type="submit" value="Update">
</form>
<hr />
{{#if rawedit}}
<i>Raw edit mode enabled. Click <a href="?raw=false&id={{doc._id}}">here</a> to switch.</i>
{{else}}
<i>Wysiwg editing enabled. Click <a href="?raw=true&id={{doc._id}}">here</a> to switch.</i>
<script>var editor = new MediumEditor('.editable',{
  buttonLabels:'fontawesome',
  toolbar: {
  buttons: [
    'h2',
    'h3',
    'bold',
    'italic',
    'underline',
    'anchor',
    'unorderedlist',
    'orderedlist',
    'image',
    'table',
    'removeFormat'
  ],
    static: true,
    sticky: true
  },
  extensions: {
      table: new MediumEditorTable()
  }  
});</script>
{{/if}}