<h2>{{title}}</h2>{{#if session.isAdmin}} ~ <a href="/admin/pages/edit?id={{_id}}">[&#9998;]</a>{{/if}}
<hr /><!--
<a href="/">Home</a> / <a href="/pages">Products</a> / <a href="/pages/{{_id}}">{{title}}</a>
<hr /><a href="/">&larr; Back to page list</a>-->

<!--<h3>{{title}}</h3>-->
{{{content}}}
